<!-- start custom head snippets -->
{% if page.layout != 'index' %}
{% assign posts=site.posts | where:"name", page.name | sort: 'lang' %}
{% if posts.size == 0 %}
{% assign posts=site.pages | where:"name", page.name | sort: 'lang' %}
{% endif %}
{% if posts.size > 1 %}
{% for post in posts %}
<link rel="alternate" hreflang="{{post.lang}}" href="{{ site.baseurl }}{{ post.url }}" />
{% endfor %}
{% endif %}
{% endif %}
<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- end custom head snippets -->
