<form id="invisible-recaptcha-form" accept-charset="UTF-8" action="https://usebasin.com/f/7cf18014e51f" method="POST">
    <label for="email-address">Email Address: </label>
    <input type="email" id="email" name="email" size="30" required/>
    <label for="comments">Comment: </label>
    <textarea rows="4" cols="50" name="comment" required></textarea>
    <div class="g-recaptcha" data-sitekey="6Lew3SMUAAAAAJ82QoS7gqOTkRI_dhYrFy1f7Sqy"></div>
    <input type="submit" value="Submit" class="btn"/>
</form>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
