---
layout: default
format: categories
---
<div id="content" class="row">
    <div class="medium-8 medium-centered columns">

        <h1>{{ page.title }}</h1>

        {{ content }}

        <div class="bem2">
            {% include search %}
        </div>

        {% for category in site.categories %}
        <div class="archive-group">
            <h2>{{ category[0] }}</h2>
            <a name="{{ category[0] | slugize }}"></a>
            {% assign posts = category[1] %}
            {% include list-posts posts=posts %}
        </div>
        {% endfor %}
    </div>
</div>
